body{
    padding: 30px;
    font-family: "Lexend Deca", sans-serif;
    color: #2e475d;
    font-size: 15px;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 50px;
    color: #34445c;
    margin: 0;
}

p{
    padding-bottom: 10px;
}

span {
    color: #fa6742;
}

body {
    /* display: flex; */
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container {
    width: 450px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    display: block;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input{
    padding: 10px;
    border: 1px solid #cbd6e2;
    margin-top: 0px;
    margin-bottom: 5px;
}

label {
    text-align: left;
}

.password-container {
    position: relative;
}

.show-password {
    /* position: absolute; */
    text-align: left;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    font-size: 13px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options a{
    font-size: 13px;
}

button {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.social-login {
    margin-top: 20px;
}

.google-btn, .microsoft-btn {
    margin-top: 0px;
    padding: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 220px;
    font-size: 16px;
}

.google-btn {
    background-color: #db4a39;
}

.microsoft-btn {
    background-color: #0078d4;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-login p{
    padding-bottom: 0px;
}